@charset "utf-8";



/* header */
.header-area{
    height: 60px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
}
#hamburger{
    display: none;
}
.hamburger-box{
    display: none;
}

.hamburger-tab{
    width: 100%;
    height: 60px;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger-tab:hover{
    background-color: #aebbf3;
}
.logo-box{
    height: 30px;
    width: 180px;
    margin-left: 20px;
    cursor: pointer;
}
.header-btn-box{
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
}
.header-btn{
    width: 130px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-btn:hover{
    background-color: #d9e4f15f;
}
.sub-menu-box{
    width: 100%;
    top: 60px;
    height: 450px;
    background-color: #ffff;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.16);
    border-radius: 0 0 30px 30px;
    display: none;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    animation: sub-menu 0.5s linear;
    transition: 0.5s;
}
.sub-menu-box.active{
    display: flex;
}

.sub-in-box{
    background-color: #E7EAF6;
    width: 300px;
    height: 320px;
    border-radius: 30px;
    margin: 50px;
    padding: 15px;
    cursor: pointer;
}
@keyframes sub-menu{
    0%{
        transform: translateY(-510px);
    }
    100%{
        transform: translateY(0);
    }
}
.sub-t-t{
    border-bottom: 2px solid #9A9A9A;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.sub-s-t{
    color: #7f7f7f;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}


/* sec-1 */
.sec-1{
    height: 900px;
    width: 100%;
    position: relative;
}
.sec-1-wrap{
    width: 50%;
    height: 90%;
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sec-1-txt-box{
    width: 550px;
    height: 175px;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sec-1-txt-box .t-txt{
    width: 100%;
    font-size: 21px;
}
.sec-1-txt-box .b-txt{
    width: 100%;
    font-size: 56px;
    font-weight: 900;
}
.sec-1-video-box{
    width: 700px;
    height: 600px;
}

/* sec-2 */

.sec-2{
    width: 100%;
    height: 1080px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f9fafb;
}
.sec-2-txt-box{
    width: 400px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.sec-2-txt-box .t-txt{
    width: 100%;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-txt{
    width: 100%;
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt-swiper-box{
    width: 162px;
    height: 43px;
}
.vertical{
    height: 100%;
}
.swiper-wrapper{
    margin: 0 auto;
}
.txt-swiper{
    justify-content: space-around;
    display: flex;
}
.txt-swiper-2{
    width: 90%;
}
.txt-swiper-3{
    width: 90%;
}
.f-t1,
.f-t2,
.f-t3,
.f-t4{
    margin-right: 2px;
}
.f-t1{
    color: orange;
}
.s-t1{
    color: rgb(169, 169, 169);
}
.f-t2{
    color: purple;
}
.s-t2{
    color: green;
}
.f-t3{
    color: rgb(205, 205, 0);
}
.s-t3{
    color: rgb(0, 0, 184);
}
.s-t4{
    color: pink;
}
.sec-2-mySwiper .swiper-slide img{
    height: 100%;
    width: 100%;
}
.sec-2-b-box{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
.sec-2-video-box{
    width: 48%;
    border-radius: 30px;
    overflow: hidden;
}
.sec-2-swiper-box{
    width: 48%;
    background-color: #ffff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-2-swiper-wrape{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-2-mySwiper{
    width: 90%;
    height: 90%;
}
.swiper-3d .swiper-slide-shadow {
    background: inherit !important;
}

.sec-3{
    width: 100%;
    height: 900px;
    background-color: #3182F6;
    display: flex;
    align-items: center;
}
.sec-3-swiper{
    width:100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-3-mySwiper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sec-3-mySwiper .swiper-wrapper .swiper-slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec3-slide1 .sec-3-in-box{
    width: 32%;
    height: 520px;
    background-color: #ffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.sec-3-in-box .img-box{
    width: 250px;
    height: 250px;
}
.sec3-slide1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec-3-in-box .txt-box1{
    width: 80%;
}
.sec-3-in-box .txt-box2{
    width: 80%;
}
.sec-3-in-box .txt-box3{
    width: 80%;
}
.sec3-slide2 .sec-3-in-box{
    width: 24%;
    height: 520px;
    background-color: #ffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.sec3-slide2 .sec-3-in-box:nth-child(2){
    background-color: #191F28;
    color: #ffff;
}
.sec3-slide2 .sec-3-in-box:nth-child(3){
    background-color: #F66570;
    color: #ffff;
}
.sec3-slide2 .sec-3-in-box:nth-child(4){
    background-color: #88bbff;
    color: #ffff;
}
.sec3-slide3 .sec-3-in-box{
    width: 46%;
    height: 520px;
    background-color: #ffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.sec-3-mySwiper .swiper-button-next, 
.sec-3-mySwiper .swiper-button-prev {
    top: 95% !important;
}
.sec-3-mySwiper .swiper-button-next::after, 
.sec-3-mySwiper .swiper-button-prev::after{
    color: #162459;
    font-size: 30px;
} 
.sec-3-mySwiper .swiper-button-next {
    right: 40% !important;
}
.sec-3-mySwiper .swiper-button-prev {
    left: 40% !important;
}

.t-t{
    font-weight: 800;
    font-size: 1.7rem;
}
.b-t{
    font-weight: 600;
    font-size: 1.25rem;
}
.s-t{
    font-weight: 600;
    font-size: 1rem;
}
.txt-box2 li{
    margin-bottom: 10px;
}
.txt-box3 {
    text-align: center;
}
.txt-box3 li{
    margin-bottom: 5px;
}
.txt-box3 .h-t{
    font-weight: 800;
    font-size: 1.7rem;
}
.txt-box3 .p-t{
    font-weight: 600;
}
.txt-box3 .b-t{
    font-weight: 800;
    font-size: 1.5rem;
}
.txt-box3 .s-t{
    font-weight: 550;
    font-size: 1.2rem;
}
.sec-4{
    width: 100%;
    height: 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-4-wrap{
    width: 930px;
    height: 1700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sec-4-in-box{
    background-color: #F2F4F6;
    width: 48%;
    height: 400px;
    border-radius: 20px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    overflow: hidden;
}
.sec-4-in-box .sec4-txt{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20%;
}
.sec-4-wrap img{
    width: 80px;
    height: 80px;
}
.img-wrap{
    height: 100px;
    width: 100%;
    top: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: rotate 10s linear infinite; */
}
.img-box1,
.img-box2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-wrap1 .img-box1,
.img-wrap2 .img-box1,
.img-wrap3 .img-box1{
    margin-right: 15px;
}
.img-box1 .in-img,
.img-box2 .in-img{
    margin-right: 15px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}
.img-box1 .in-img:nth-last-child(1),
.img-box2 .in-img:nth-last-child(1){
    margin-right: 0;
}
@keyframes rotate1 {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-475px);
      }
} 
@keyframes rotate2 {
    0% {
        transform: translateX(0);
    }
    100% {
      transform: translateX(-1045px);
    }
}
@keyframes rotate3 {
    0% {
        transform: translateX(0);
    }
    100% {
      transform: translateX(-665px);
    }
} 
.l1-box .img-wrap,
.r1-box .img-wrap,
.l2-box .img-wrap{
    justify-content: left;
}
.l1-box .img-wrap .img-box{
    justify-content: left;
    animation: rotate1 5s linear infinite;
}

.r1-box .img-wrap{
    justify-content: left;
    animation: rotate2 11s linear infinite;
}
.l2-box .img-wrap{
    justify-content: left;
    animation: rotate3 7s linear infinite;
}
.sec-5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-5-area{
    width: 90%;
}
.sec-5-box{
    margin-top: 20px;
}
.sec-5-box:nth-last-child(1){
    margin-bottom: 20px;
}
.h-box{
    width: 100%;
    height: 65px;
    border-radius: 15px;
    background-color: #F2F4F6;
    display: flex;
    align-items: center;
    position: relative;
}
.h-box .in-txt{
    position: absolute;
    left: 20px;
}
.h-box .icon-box{
    right: 20px;
    position: absolute;
}

.icon-box{
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    cursor: pointer;
}
.icon-box.active{
    transform: rotate(0deg);
}
.s-box{
    width: 100%;
    height: 330px;
    padding: 5px;
    background-color: #F9FAFB;
    margin: 15px 0 15px 0;
    border-radius: 15px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.s-box.active{
    display: flex;
}
.t-in-box{
    width: 90%;
    margin: 10px;
}
.in-txt{
    font-size: 1.25rem;
    font-weight: 700;
}
.top-txt{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.sub-txt{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 7px;
}

.footer{
    width: 100%;
    height: 450px;
    background-color: black;
    padding: 30px;
}
.wrap{
    overflow: hidden;
}
.footer-wrap{
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t-txt-box,
.m-txt-box,
.b-txt-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
}
.t-txt-box h1,
.m-txt-box h1,
.b-txt-box h1{
    font-size: 1.25rem;
    cursor: default;
    color: #b0b8c1;
}
.t-txt-box a,
.m-txt-box a,
.b-txt-box a{
    color: #6b7684;
}
.t-txt-box a:hover,
.b-txt-box a:hover{
    text-decoration: underline;
}





.m-txt-box a{
    cursor: default;
}
.t-txt-box-1{
    margin-right: 50px;
}
.t-t,
.b-t{
    width: 100%;
}
.t-t{
    margin-bottom: 10px;
}




@media (max-width: 1400px){
    .sub-menu-box{
        width: 600px;
        height: 450px;
        top: 60px;
        background-color: #ffff;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.16);
        border-radius: 0 0 30px 30px;
        display: none;
        flex-wrap: wrap;
        position: fixed;
        justify-content: space-around;
        align-items: center;
        z-index: 999;
    }
    .sub-menu-box.active{
        display: flex;
        right: 0;
    }
    .sub-in-box{
        background-color: #E7EAF6;
        width: 300px;
        height: 40px;
        border-radius: 10px;
        margin: 10px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sub-in-box:hover{
        background-color: #aebbf3;
    }
    .sub-in-box.active{
        background-color: #aebbf3;
    }
    .sub-t-t{
        margin-bottom: 0px;
        font-size: 10px;
        font-weight: 500;
        text-align: center;
        border-bottom: 0;
    }
    .sub-s-t{
        color: #7f7f7f;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        display: none;
    }
    .sec-1-wrap{
        width: 100%;
    }
    .sec-2-b-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: space-around;
    }
    .sec-2-video-box {
        width: 400px;
        height: 400px;
        border-radius: 30px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .sec-2-swiper-box {
        width: 400px;
        height: 400px;
        background-color: #ffff;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}






















@media (max-width: 1200px){
    .sec-2{
        height: 960px;
    }
    .sec-3{
        width: 100%;
        height: 700px;
        background-color: #3182F6;
        display: flex;
        align-items: center;
    }
    .sec-3-swiper{
        width:100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec-3-mySwiper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .sec-3-mySwiper .swiper-wrapper .swiper-slide{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .sec3-slide1 .sec-3-in-box{
        width: 30%;
        height: 450px;
        background-color: #ffff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }
    
    .sec-3-in-box .img-box{
        width: 150px;
        height: 150px;
    }
    .sec3-slide1{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .sec-3-in-box .txt-box1{
        width: 80%;
    }
    .sec-3-in-box .txt-box2{
        width: 80%;
    }
    .sec-3-in-box .txt-box3{
        width: 80%;
    }
    .sec3-slide2 .sec-3-in-box{
        width: 24%;
        height: 450px;
        background-color: #ffff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }
    .sec3-slide2 .sec-3-in-box:nth-child(2){
        background-color: #191F28;
        color: #ffff;
    }
    .sec3-slide2 .sec-3-in-box:nth-child(3){
        background-color: #F66570;
        color: #ffff;
    }
    .sec3-slide2 .sec-3-in-box:nth-child(4){
        background-color: #88bbff;
        color: #ffff;
    }
    .sec3-slide3 .sec-3-in-box{
        height: 450px;
        background-color: #ffff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }
    
    .sec-3-mySwiper .swiper-button-next, 
    .sec-3-mySwiper .swiper-button-prev {
        top: 95% !important;
    }

    .sec-3-mySwiper .swiper-button-next {
        right: 40% !important;
    }
    .sec-3-mySwiper .swiper-button-prev {
        left: 40% !important;
    }
    
    .t-t{
        font-weight: 800;
        font-size: 1.7rem;
    }
    .b-t{
        font-weight: 600;
        font-size: 1.25rem;
    }
    .s-t{
        font-weight: 600;
        font-size: 1rem;
    }
    .txt-box2 li{
        margin-bottom: 10px;
    }
    .txt-box3 {
        text-align: center;
    }
    .txt-box3 li{
        margin-bottom: 5px;
    }
    .txt-box3 .h-t{
        font-weight: 800;
        font-size: 1.7rem;
    }
    .txt-box3 .p-t{
        font-weight: 600;
    }
    .txt-box3 .b-t{
        font-weight: 800;
        font-size: 1.5rem;
    }
    .txt-box3 .s-t{
        font-weight: 550;
        font-size: 1.2rem;
    }
}

@media (max-width: 900px){
    #hamburger{
        display: block;
        z-index: 99999;
        position: relative;
        width: 20px;
        height: 16px;
        right: 30px;
        transition: 0.3s;
    }
    .hamburger-box{
        position: fixed;
        display: none;
        right: -151px;
        width: 150px;
        height: 240px;
        top: 61px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #fff;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.16);
        border-left: 0.5px solid rgba(0, 0, 0, 0.16);
        border-radius: 0 0 0 20px;
        transition: 0.5s;
    }
    .hamburger-box.active{
        right: 0;
    }
    #hamburger span{
        position: absolute;
        top: 5px;
        left: 10px;
        width: 100%;
        height: 3px;
        background-color: black;
        transition: 0.3s;
    }
    #hamburger span:first-child{
        top: 0;
        left: 0;
    }
    #hamburger span:last-child{
        top: 10px;
        left: 0;
    }
    #hamburger.active span:first-child{
        transform: translateY(10px);
        background-color: #3182F6;
    }
    #hamburger.active span:last-child{
        transform: translateY(-10px);
        background-color: #3182F6;
    }
    .header-btn-box {
        display: none;
    }
    



    .sec-3{
        width: 100%;
        height: 700px;
        background-color: #3182F6;
        display: flex;
        align-items: center;
    }
    .sec-3-swiper{
        width:100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec-3-mySwiper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .sec-3-mySwiper .swiper-wrapper .swiper-slide{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .sec3-slide1 .sec-3-in-box{
        width: 30%;
        height: 350px;
        background-color: #ffff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }
    
    .sec-3-in-box .img-box{
        width: 120px;
        height: 120px;
    }
    .sec3-slide1{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .sec-3-in-box .txt-box1{
        width: 80%;
    }
    .sec-3-in-box .txt-box2{
        width: 80%;
    }
    .sec-3-in-box .txt-box3{
        width: 80%;
    }
    .sec3-slide2 .sec-3-in-box{
        width: 24%;
        height: 350px;
        background-color: #ffff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }
    .sec3-slide2 .sec-3-in-box:nth-child(2){
        background-color: #191F28;
        color: #ffff;
    }
    .sec3-slide2 .sec-3-in-box:nth-child(3){
        background-color: #F66570;
        color: #ffff;
    }
    .sec3-slide2 .sec-3-in-box:nth-child(4){
        background-color: #88bbff;
        color: #ffff;
    }
    .sec3-slide3 .sec-3-in-box{
        height: 350px;
        background-color: #ffff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }




    .t-t{
        font-weight: 600;
        font-size: 1.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .b-t{
        font-weight: 600;
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .s-t{
        font-weight: 600;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .txt-box3 .h-t {
        font-weight: 800;
        font-size: 1.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .txt-box3 .p-t {
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .txt-box3 .b-t {
        font-weight: 800;
        font-size: 1.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .txt-box3 .s-t {
        font-weight: 550;
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }





    .sec-4{
        height: 1550px;
    }
    .sec-4-wrap{
        height: 1500px;
    }
    .sec-4-wrap img{
        width: 60px;
        height: 60px;
    }
    .sec-4-in-box{
        height: 350px;
    }
    .img-box1 .in-img, .img-box2 .in-img{
        width: 60px;
        height: 60px;
    }

    @keyframes rotate1 {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-375px);
        }
    } 
    @keyframes rotate2 {
        0% {
            transform: translateX(0);
        }
        100% {
          transform: translateX(-825px);
        }
    }
    @keyframes rotate3 {
        0% {
            transform: translateX(0);
        }
        100% {
          transform: translateX(-525px);
        }
    }


    

    .l1-box .img-wrap .img-box{
        justify-content: left;
        animation: rotate1 5s linear infinite;
    }
    
    .r1-box .img-wrap{
        justify-content: left;
        animation: rotate2 11s linear infinite;
    }
    .l2-box .img-wrap{
        justify-content: left;
        animation: rotate3 7s linear infinite;
    }




    .sec-5-area {
        width: 98%;
    }
    .footer{
        padding: 20px;
        height: 400px;
    }
    .footer-wrap{
        height: 80%;
    }
    .t-txt-box,
    .m-txt-box,
    .b-txt-box{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        height: 100px;
    }
    .t-txt-box h1,
    .m-txt-box h1,
    .b-txt-box h1{
        font-size: 1rem;
        cursor: default;
    }
    .t-txt-box a,
    .m-txt-box a,
    .b-txt-box a{
        font-size: 0.85rem;
    }

    .t-txt-box-2{
        display: none;
    }
}




@media (max-width: 750px){
    .sec-3{
        height: 580px;
    }
    .sec-3-swiper{
        height: 580px;
    }
    .sec3-slide1 {
        flex-wrap: wrap;
    }
    .sec3-slide2 {
        flex-wrap: wrap;
    }
    .sec3-slide3 {
        flex-wrap: wrap;
    }
    .sec3-slide1 .sec-3-in-box{
        width: 90%;
        height: 25%;
        background-color: #ffff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }
    .sec3-slide2 .sec-3-in-box{
        width: 45%;
        height: 45%;
    }
    .sec3-slide3 .sec-3-in-box{
        width: 80%;
        height: 45%;
    }
    .sec-3-in-box .img-box{
        display: none;
    }
    .sec-4 {
        height: 1100px;
    }
    .sec-4-wrap {
        height: 1050px;
    }
    .sec-4-in-box {
        height: 250px;
    }

    .top-txt {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .sub-txt {
        font-size: 0.95rem;
        font-weight: 500;
        margin-bottom: 7px;
    }


}
